SehatYuk/.idea/compiler.xml
SehatYuk/.idea/deploymentTargetSelector.xml
SehatYuk/.idea/gradle.xml
SehatYuk/.idea/material_theme_project_new.xml
SehatYuk/.idea/migrations.xml
SehatYuk/.idea/misc.xml
SehatYuk/.idea/other.xml
SehatYuk/.idea/vcs.xml
